@font-face {
  font-family: "DM Sans Fallback";
  src: local("Arial");
  size-adjust: 104.531%;
  ascent-override: 94.9001%;
  descent-override: 29.6563%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "JetBrains Mono Fallback";
  src: local("Courier New");
  size-adjust: 99.9837%;
  ascent-override: 102.0166%;
  descent-override: 30.0049%;
  line-gap-override: 0%;
}
